<a href="https://colab.research.google.com/github/ahmadraza741/Fraud-Detection/blob/main/Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
196167,131385.0,0.117571,0.456780,-2.077266,-2.073220,0.408703,-2.275294,0.894539,-0.122748,-1.222025,...,0.698561,1.971647,-0.063868,0.085824,-1.041937,-0.126021,0.381036,0.293188,5.0,0.0
196168,131387.0,1.887546,-0.515073,-1.375326,0.219076,0.033817,-0.424882,0.109803,-0.223258,1.031596,...,0.132409,0.514453,-0.024536,0.686896,0.211164,0.159660,-0.040507,-0.040356,93.3,0.0
196169,131387.0,-0.341639,-1.244251,0.390240,-1.127744,-0.489407,-0.679562,0.250800,0.053157,1.704313,...,0.149890,0.255464,1.045243,-0.018635,-2.361446,0.037110,0.278248,0.389531,200.0,0.0
196170,131388.0,2.066743,0.256342,-2.145649,0.915330,1.063709,-0.432069,0.584642,-0.194476,-0.273594,...,0.131980,0.399313,-0.027681,0.197329,0.482546,-0.501574,-0.042849,-0.073935,1.5,0.0
196171,131388.0,-0.180122,0.935909,-0.355988,-0.597037,0.614762,-0.793247,0.902214,-0.077185,0.086829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196172 entries, 0 to 196171
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    196172 non-null  float64
 1   V1      196172 non-null  float64
 2   V2      196172 non-null  float64
 3   V3      196172 non-null  float64
 4   V4      196172 non-null  float64
 5   V5      196172 non-null  float64
 6   V6      196172 non-null  float64
 7   V7      196172 non-null  float64
 8   V8      196172 non-null  float64
 9   V9      196172 non-null  float64
 10  V10     196172 non-null  float64
 11  V11     196172 non-null  float64
 12  V12     196172 non-null  float64
 13  V13     196172 non-null  float64
 14  V14     196172 non-null  float64
 15  V15     196172 non-null  float64
 16  V16     196172 non-null  float64
 17  V17     196172 non-null  float64
 18  V18     196172 non-null  float64
 19  V19     196172 non-null  float64
 20  V20     196171 non-null  float64
 21  V21     196171 non-null  float64
 22  V22     196171 non-null  float64
 23  V23     196171 non-null  float64
 24  V24     196171 non-null  float64
 25  V25     196171 non-null  float64
 26  V26     196171 non-null  float64
 27  V27     196171 non-null  float64
 28  V28     196171 non-null  float64
 29  Amount  196171 non-null  float64
 30  Class   196171 non-null  float64
dtypes: float64(31)
memory usage: 46.4 MB

In [ ]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    195789
1.0       382
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [ ]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(195789, 31)
(382, 31)

In [ ]:
# statistical measures of the data
legit.Amount.describe()

count    195789.000000
mean         89.582366
std         248.816252
min           0.000000
25%           5.990000
50%          22.950000
75%          79.000000
max       19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     382.000000
mean      118.009607
std       248.655921
min         0.000000
25%         1.000000
50%        11.855000
75%       104.030000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,69456.834689,-0.100902,-0.002688,0.353456,0.072217,-0.110722,0.050401,-0.041346,0.017507,0.015062,...,0.020106,-0.017335,-0.051616,-0.016216,0.004862,0.063981,0.006822,0.001149,0.001962,89.582366
1.0,60726.505236,-5.739614,4.229525,-7.752761,4.780244,-4.133152,-1.406621,-6.682186,0.701022,-2.775971,...,0.384828,0.796939,-0.023152,-0.039638,-0.065998,0.072576,0.040395,0.176866,0.056315,118.009607

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 3

In [ ]:
legit_sample = legit.sample(n=377)

Concatenating two DataFrames

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
10096,15337.0,0.100688,-1.660517,0.701122,2.132248,-0.861108,1.351403,-0.041141,0.214438,2.164508,...,-0.228220,-1.075671,-0.401931,-0.322451,0.250442,-0.600239,-0.030553,0.096682,508.97,0.0
98314,66612.0,1.237285,0.278850,0.184776,0.502354,-0.175093,-0.566471,-0.040474,-0.021666,-0.167582,...,-0.260606,-0.797694,0.079698,-0.043655,0.221706,0.098186,-0.028827,0.016704,1.29,0.0
73437,55135.0,-0.906638,1.466516,1.339396,0.382673,0.084164,0.047740,0.146480,-1.565842,-0.337094,...,1.414009,-0.900598,0.210532,0.004538,-0.111935,-0.642308,0.005330,0.044171,9.99,0.0
118575,75133.0,1.222133,0.623450,-0.412106,1.175909,0.405455,-0.517626,0.223510,-0.092757,-0.087233,...,-0.045976,-0.016116,-0.136272,-0.389985,0.672528,-0.276149,0.049056,0.044573,1.00,0.0
157243,109765.0,1.980757,-0.210271,-0.161560,0.562376,-0.706003,-0.812889,-0.561001,-0.155891,2.697449,...,-0.269126,-0.438631,0.364678,-0.089630,-0.415170,-0.964384,0.026921,-0.032716,11.27,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
192382,129668.0,0.753356,2.284988,-5.164492,3.831112,-0.073622,-1.316596,-1.855495,0.831079,-1.567514,...,0.382007,0.033958,0.187697,0.358433,-0.488934,-0.258802,0.296145,-0.047174,2.00,1.0
192529,129741.0,-1.396204,2.618584,-6.036770,3.552454,1.030091,-2.950358,-1.528506,0.189319,-1.433554,...,0.143177,-0.390176,0.356029,-0.762352,0.096510,-0.487861,0.062655,-0.240732,1.00,1.0
192584,129764.0,-2.434004,3.225947,-6.596282,3.593161,-1.079452,-1.739741,-0.047420,0.301424,-1.779434,...,-0.035491,-0.419178,0.157436,-0.714849,0.468859,-0.348522,0.420036,-0.327643,362.55,1.0
192687,129808.0,1.522080,-0.519429,-2.581685,0.774741,0.206722,-1.431020,0.757011,-0.444418,0.997921,...,0.019649,-0.211678,-0.247452,-0.279472,0.239646,-0.508398,-0.015551,0.041881,276.17,1.0
195383,131024.0,0.469750,-1.237555,-1.767341,4.833490,-0.268715,-0.512760,1.140149,-0.341273,-1.046351,...,0.303905,-0.647075,-0.373014,0.260801,-0.496566,-0.245973,-0.117858,0.144774,723.21,1.0

In [ ]:
new_dataset['Class'].value_counts()

1.0    382
0.0    377
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,66970.931034,-0.208740,0.012956,0.410790,-0.002636,-0.057974,0.045721,0.061985,0.035201,0.033527,...,0.055625,0.008673,-0.023507,-0.043655,0.051733,0.083705,-0.026116,-0.037845,-0.023039,100.039151
1.0,60726.505236,-5.739614,4.229525,-7.752761,4.780244,-4.133152,-1.406621,-6.682186,0.701022,-2.775971,...,0.384828,0.796939,-0.023152,-0.039638,-0.065998,0.072576,0.040395,0.176866,0.056315,118.009607

Splitting the data into Features & Targets

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
10096    15337.0  0.100688 -1.660517  0.701122  2.132248 -0.861108  1.351403
98314    66612.0  1.237285  0.278850  0.184776  0.502354 -0.175093 -0.566471
73437    55135.0 -0.906638  1.466516  1.339396  0.382673  0.084164  0.047740
118575   75133.0  1.222133  0.623450 -0.412106  1.175909  0.405455 -0.517626
157243  109765.0  1.980757 -0.210271 -0.161560  0.562376 -0.706003 -0.812889
...          ...       ...       ...       ...       ...       ...       ...
192382  129668.0  0.753356  2.284988 -5.164492  3.831112 -0.073622 -1.316596
192529  129741.0 -1.396204  2.618584 -6.036770  3.552454  1.030091 -2.950358
192584  129764.0 -2.434004  3.225947 -6.596282  3.593161 -1.079452 -1.739741
192687  129808.0  1.522080 -0.519429 -2.581685  0.774741  0.206722 -1.431020
195383  131024.0  0.469750 -1.237555 -1.767341  4.833490 -0.268715 -0.512760

              V7        V8        V9  ...       V20       V21       V22  \
10096  -0.041141  0.214438  2.164508  ...  0.816466 -0.228220 -1.075671
98314  -0.040474 -0.021666 -0.167582  ... -0.075723 -0.260606 -0.797694
73437   0.146480 -1.565842 -0.337094  ... -0.456452  1.414009 -0.900598
118575  0.223510 -0.092757 -0.087233  ... -0.114419 -0.045976 -0.016116
157243 -0.561001 -0.155891  2.697449  ... -0.307217 -0.269126 -0.438631
...          ...       ...       ...  ...       ...       ...       ...
192382 -1.855495  0.831079 -1.567514  ...  0.285792  0.382007  0.033958
192529 -1.528506  0.189319 -1.433554  ...  0.031795  0.143177 -0.390176
192584 -0.047420  0.301424 -1.779434  ... -0.280533 -0.035491 -0.419178
192687  0.757011 -0.444418  0.997921  ...  0.361169  0.019649 -0.211678
195383  1.140149 -0.341273 -1.046351  ...  1.277315  0.303905 -0.647075

             V23       V24       V25       V26       V27       V28  Amount
10096  -0.401931 -0.322451  0.250442 -0.600239 -0.030553  0.096682  508.97
98314   0.079698 -0.043655  0.221706  0.098186 -0.028827  0.016704    1.29
73437   0.210532  0.004538 -0.111935 -0.642308  0.005330  0.044171    9.99
118575 -0.136272 -0.389985  0.672528 -0.276149  0.049056  0.044573    1.00
157243  0.364678 -0.089630 -0.415170 -0.964384  0.026921 -0.032716   11.27
...          ...       ...       ...       ...       ...       ...     ...
192382  0.187697  0.358433 -0.488934 -0.258802  0.296145 -0.047174    2.00
192529  0.356029 -0.762352  0.096510 -0.487861  0.062655 -0.240732    1.00
192584  0.157436 -0.714849  0.468859 -0.348522  0.420036 -0.327643  362.55
192687 -0.247452 -0.279472  0.239646 -0.508398 -0.015551  0.041881  276.17
195383 -0.373014  0.260801 -0.496566 -0.245973 -0.117858  0.144774  723.21

[759 rows x 30 columns]

In [ ]:
print(Y)

10096     0.0
98314     0.0
73437     0.0
118575    0.0
157243    0.0
         ...
192382    1.0
192529    1.0
192584    1.0
192687    1.0
195383    1.0
Name: Class, Length: 759, dtype: float64

Split the data into Training data & Testing Data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(759, 30) (607, 30) (152, 30)

Model Training

Logistic Regression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.914332784184514

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9342105263157895